:root {
  --bs-info-rgb: 255, 3, 3; /* Change info color */
  --bs-primary: #ff6347;  /* Change primary color */
  --bs-danger-rgb: 255, 99, 71; /* Change danger color */
  --bs-font-size-base: 1rem; /* Change base font size */
}